*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(42, 42, 42);
}

/*-----------HEADRER------------*/
.header{
    background-color: #000;
    top: 0;
}
.img img{
    margin-top: 2%;
    margin-left: 8%;
}
.links{
    float: right;
    margin-top: 3.5rem;
    margin-left: 25%;
    margin-right: 12%;
}
.links a{
    padding: 0.5rem;
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    transition: 1s;
}
.links a:hover{
    color: rgb(58, 193, 238);
}
.details{
    float: right;
    font-size: 20px;
    margin-right: 15%;
    font-style: italic;
    color: rgb(58, 193, 238);
    font-weight: bold;
    margin-bottom: 1rem;
}
.horizontal-line hr{
    background-color: rgb(4, 125, 165);
    height: 0.1rem;
    border: none;
    width: 100%;
   padding-bottom: 5px;
}
.padding{
    width: auto;
    height: 1rem;
    background-color: #000;
}

/*---------BODY----------*/
.container{
    border: 1px solid #ccc;
    margin-left: 11%;
    margin-right: 11%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 5px;
}
.inner-content{
    margin: 2rem;
}
.image_topic{
    display: flex;
    gap: 1.5rem;
}
.content1 h2{
    font-size: 40px;
    color: rgb(44, 95, 113);
}
.content1 p{
    margin-top: 1.5rem;
}
.paragraph p{
    margin-bottom: 1.5rem;
    font-size: 18px;
    word-spacing: 2px;
}
.paragraph h5{
    font-size: 15px;
    font-weight: bold;
    color: rgb(115, 115, 115);
}
.get_started{
    text-align: center;
    margin-top: 1.5rem;
}
.get_started a{
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 25px;
    padding: 1rem 2rem;
    background-color: rgb(164, 46, 3);
    border-radius: 5px;
    transition: 1s;
}
.get_started a:hover{
    background-color: green;
}
/*-------------FOOTER---------*/
.line hr{
    margin-top: 1rem;
    width: 100%;
    height: 4px;
    background-color: rgb(7, 131, 161);
    border: none;
}
.all{
    background-color: rgb(87, 86, 86);
    margin-top: 1rem;
}
.title{
    text-align: center;
    padding-top: 4%;
    padding-bottom: 1%;
    font-size: 15px;
    background-color: rgb(96, 95, 95);
}
.det{
    background-color: rgb(96, 95, 95);
    font-size: 15px;
    padding-bottom: 5%;
    padding-left: 10%;
}
.ending-line hr{
    width: 85%;
    height: 1px;
    margin-top: 2.5rem;
}